<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Default" status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%highlight{%date{ISO8601} %level [%thread] %logger{1.} - %message}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.github.kokorin.jaffree" level="error" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.zaxxer.hikari" level="warn" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="fr.raksrinana.utils" level="warn" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="console" level="warn"/>
        </Root>
    </Loggers>
</Configuration>
